/* Research Page Styling */
.research-container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.research-header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  color: #fff; /* White text on dark background */
  min-height: 300px; /* Ensures a tall banner */
  width: 100%;
  margin: 0;
  gap: 3rem; /* Add space between text and image */
}

.research-header-text {
  flex: 0 0 auto;

}

.research-header-text h1 {
  font-size: 5rem;
  line-height: 4.5rem;
  margin-bottom: 1rem;
}

.research-header-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 600px;
}

.research-header-image {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  border: none;
  outline: none;
 
}

.research-header-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: none;
}

/* Research Topics Link Section */
.research-topics-link {
  max-width: 1200px;
  height: 900px; 
  margin: 0 auto;
  padding: 2rem ;

}

.research-topics-title {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Research Topics List */
.research-topics-list {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  justify-content: center;
}

/* Each row of cards */
.topic-row {
  display: flex;
  justify-content: center;
}

#topic-row-1 {
  gap: 3rem;
}
#topic-row-2 {
  gap: 2rem;
}

/* Research Topic Link */
.research-topic-link {
  text-decoration: none;
  color: inherit;
}

/* Research Topic Card */
.research-topic-item {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden; 
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  height: 260px;
  width: 260px;

}

.research-topic-item:hover {
  transform: scale(1.02);
}

/* Card Top Border */
.card-top-border {
  flex: 0 0 auto;
  height: 5px;
  background-color: #007bff;  /* Adjust color as needed */
}


.research-topic-item .topic-text h3 {
  text-align: center!important;
  font-size: 1rem; 
  margin-top: 1rem;
  line-height: 1.2;
}

.research-topic-item img {
  max-width: auto;
  height: 180px;
  border-radius: 8px;
  box-shadow: none;
}


/* Main Content Section */
.research-main-content {
  margin-top: 40px;
}

.research-section {
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .research-content-wrapper {
    flex-direction: column;
  }

  .research-header {
    padding: 2rem 1rem;
  }

  .research-header-text {
    max-width: 100%;
  }

  .research-header-image {
    max-width: 100%;
  }

  .research-topics-list {
    margin-bottom: 20px;
  }

  .research-hero-image {
    max-width: 100%;
  }
}